*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {

    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: #fff;
}

.pagina{
    width: 100%;
    height: 100%;
}


.principal{
    width: 100%;
    padding: 10px;
    height: auto;
}


/*estilos del header*/


/*estilo de la imagen del header*/
header .image img{
    width: 100%;
    display: flex;
}







/*carrousel*/
.Carousel{
    width: 100%;
    margin-top: 1.25em;
}

.Carousel h2{
    margin-top: 2em;
    font-size: 1.63em;
    line-height: 2.38em;
    padding-bottom: 1.5em;
    opacity: .9;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-align: center;
}

/* images */

.slick-list{
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    height: 19em;
    padding: 0.65em 0em;
    margin: 0px auto;
    max-width: 90vw;
    overflow: hidden;
}
.slick-track{
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    transition: .5s ease-in-out;
}
.slick{
    position: relative;
    width: 37.5em;
    padding: 0 1.13em;
    float: left;
    box-sizing: border-box;
    display: flex;
    height: 100%;
}
.slick h4{
    position: absolute;
    z-index: 1;
    font-size: 1.37em;
    line-height: 1.44em;
    color: #fff;
    padding: 1em;
}
.slick h4 small{
    font-size: 1em;
    display: block;
}
.slick a img{
    object-fit: cover;
    height: 18.75em;
    width: 100%;
    border-radius: 4px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.5);
    transition: .3s ease-in-out;
}
.slick a img:hover{
    opacity: .85;
}



.text-principal{
    margin: 2em 0.63em 0.63em 0.63em;
    text-align: center;
}


.text-principal h1{
    display: flex;
    justify-content: center;
    flex-direction: row;
    color: #861622;
}

/*texto principal*/
.text-principal h1::before,.text-principal h1::after{
    content: '';
    height: 0.25em;
    width: 16.5em;
    position: relative;
    top: 10px;
}

.text-principal h1::before{
    left: -0.63em;
    background: linear-gradient(to right, #861622, #e10613);
}

.text-principal h1::after{
    right: -0.63em;
    background: linear-gradient(to left, #861622, #e10613)
}


/* buttons */

.slick-arrow{
    border-radius: 30px;
    background-color: #fff;
    position: absolute;
    z-index: 4;
    width: 3em;
    height: 3em;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.15);
    border: 0;
    cursor: pointer;
}
.slick-arrow:focus{
    outline: 0;
}
.slick-arrow svg{
    width: 12px;
    height: 100%;
    color: rgba(0,0,0,.7);
}
.slick-prev{
    left: 0px;
}
.slick-next{
    right: 0px;
}


/*estilo de los botones por año*/
.buttons{
    height: 5em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8em;
    margin-bottom: 2em;
}


.btn{
    width: 7em;  
    height: 3em;
    background: transparent;
    border: 1px solid black;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 1.25em;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.3s ease;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px #000;
    & span{
        z-index: 2;
        position: relative;
        transition: all .3s ease;
    }
}


.btn span{
    font-weight: 600;
}

.btn::after{
    content: "";
    width: 1px;
    height: 1px;
    background: none;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    border-radius: 100px;
    transition:all 0.4s ease-in-out;
    transform-origin: center;
}

.btn:hover::after{
    transform: scale(200);
    background: #cc1010;
}

.btn:hover{
    color: #fff;
    border: 1px solid #861622;
    box-shadow: 0 0 20px #680913;
}



.cuerpo{
    width: 100%;
    padding: 10px 20px 10px 20px;

}


.cuerpo .text-principal{
    margin-bottom: 40px;
    & h1{
        font-size: 24px;
    }

    /*texto principal*/
    & h1::before,& h1::after{
    content: '';
    height: 0.25em;
    width: 20.5em;
    position: relative;
    top: 10px;
    }
}

.proximos-eventos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.proximos-eventos .frame{
    margin-bottom: 40px;
}

.proximos-eventos .frame .title{
    text-align: center;
    font-size: 20px;
    color: #861622;
    padding: 5px;
}

.proximos-eventos .frame .image img{
    width: 400px;
    transition: opacity .3s ease-in-out;
}


.proximos-eventos .frame .image img:hover{
    cursor: pointer;
    opacity: 0.5;
}





/*footer*/
footer {
    background: linear-gradient(to right, #861622, #e10613);
    color: white; /* Color del texto */
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 20px; /* Espaciado interno del footer */
    height: 60px;
}

.pie .redes{
    display: flex;
    justify-content: space-around;
}



.pie .redes a{
    width: 50px;
    font-size: 30px;
    color: #fff;
    transition: all 0.3s ease-in-out;
}



.pie .redes .facebook:hover{
    color:#1877f2;
}

.pie .redes .twiter:hover{
    color:#1da1f2;
}

.pie .redes .instagram:hover{
    color:#eb59e3;
}

.pie .redes .youtube:hover{
    color: #282828;
}


/* Responsivo */
@media (max-width: 768px) {
    body{
        font-size: 12px;
    }

    /*texto principal*/
    .text-principal h1::before,.text-principal h1::after{
    height: 0.25m;
    width: 8em;
    }

    .text-principal{
        margin: 1.5em 0.6em 0.6em 0.6em;
    }
    
    
    .text-principal h1{
        display: flex;
        justify-content: center;
        text-align: center;
        color: #861622;
    }

    .buttons{
        gap: 4em;
        margin-bottom: 2em;
    }

    .btn{
        width: 6em;  
        height: 2.5em;
    }
}