/* Regresar =============================*/

.regresar{
  display: block;
  /*2th: 100%;*/
}

.regresar .menu2{
  padding-left: 20px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:left;
  margin: auto;
  width: 100%;
  /*background: linear-gradient(to top, #00627b, #36badb);*/
  & h2{
    color: #000000;
  }
}

.menu2 li{
	list-style: none;
  margin-left: 10px;
  padding-right: 10px;
	margin-right: 10px;
  margin:auto
}
.menu2 > h2{
color: #444;
padding: 0px 10px;
}

.menu2 > li> a{
  font-size: 18px;
}

.menu2 a:hover {
  color: #444;
}
/* Fin de regresar =============================*/
/*Subitulo 2 ==========================================*/
.Sub2{
    padding: 0px 20px; 
    text-align:left;
    /*padding-left: 225px;*/
  }
  .Sub2 >h3{
    padding: 0px;
  }
  /*Fin de Subtitulo 2 ==========================================*/
/*Subitulo 2 ==========================================*/
  .Sub3{
    padding: 0px 20px; 
    text-align:left;
    /*padding-left: 290px;*/
  }
  .Sub3 >h3{
    padding: 0px;
  }
   /*Fin de Subtitulo 2 ==========================================*/

  /*Seccion de Bienvenida =============================================*/
.bienvenida {
    padding: 0;
      margin: 0;
  }
  
  .bienvenida h2{
    text-transform: uppercase;
  }
  
  .bienvenida > .foto-bienvenida {
    width: 100%;
    display: flex;
    justify-content: center; 
    padding-bottom: 10px;
  }
  
  /*contenedor justify*/
  .bienvenida > div > .contenedor {
      padding: 10px 10px;
    background-color: #F5F5F5;
    justify-content: center;
    text-align: justify;
    display: flex;
    margin: auto;
  }
  
  /*contenedor2 center*/
  .bienvenida > div > .contenedor2 {
      padding: 10px 10px;
    justify-content: center;
    text-align: center;
    display: block;
    margin: auto;
  }
  
  .bienvenida > div > .contenedor2 h4, h5 {
      color: #00627b;
  }
  
  .bienvenida > .foto-bienvenida img {
    height: auto;
  }

  /*imagenes con bordes*/
.bienvenida > .foto-bienvenida2{
    display: flex;
    width: 100%;
    justify-content: center; 
    padding: 10px 0;
  }
  
  .bienvenida > .foto-bienvenida2  div {
    display: block;
    padding: 10px 10px;
    border:2px solid #00627b;
  }
  
  .bienvenida > .foto-bienvenida2 img {
    height: auto;
  }
  
  @media all and (min-width: 620px){
    .bienvenida > div > .contenedor {
      margin: 10px 20px;
      max-width: 100%;
    }
  }  
  /*Fin de la Seccion de Bienvenida =======================================*/

  /*Seccion de  informacion en bloques ==========================================*/
.bloques{
    padding: 10px 20px; 
  }
  
  .top-bloque, .foot-bloque{
    background-color: #00627b;
    opacity: 70%;
    height: 5px;
  }
  
  .center-bloque{
    position: relative;
      padding: 0px 0px;
    background-color: none;
      border-bottom: none;
      text-align: justify;
  }
  
  .center-bloque >.contenedor{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  
  
  .center-bloque h4{
    color: #00627b;
  }
  
  .center-bloque h5{
    color: #00627b;
  }
  
  .badge-danger{
    font-size: 14px;
    margin: 3px 0;
    background: #00627b;
    color: #fff;
    display: inline-block;
    display: inline-table;
    padding: 3px 4px;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    max-width: 200px;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
  }
  
  .badge-danger2{
    font-size: 16px;
    margin: 0.5em;
    background: #00627b;
    color: #fff;
    display: inline-block;
    padding: 0.25em 0.4em;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
  }
  
  .center-bloque p .email {
    color: #007bff;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
  }
  
  .center-bloque .email:hover {
    color: #555;
  }
  
  @media all and (max-width: 620px){
    .bloques{
      padding: 0px 0px; 
  
    } 
  } 
  /*Fin de Seccion de  informacion en bloques ========================================*/

  /*Seccion de  informacion en bloques2  ==========================================*/

  
  
  /*Fin de Seccion de  informacion en bloques2 ========================================*/

.center-bloque{
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: row;
}


.fix{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  position: relative;
  margin-right: 20px;
  
  & .image-title{

    position:sticky;
    top: 20px;
  }
}




.cont{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20%;
  margin-right: 20%;
}

.conten{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 5%;

  & .sub2{
    text-align: center;
    margin-bottom: 10px;
  }

  & .sub3{
    text-align: center;
  }

}

.FotoP{
  width: 250px;
  height: 250px;
  justify-content: center;
}



.cont .bien .foto-bienvenida2{
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#title2 {
  padding: 10px 0;
  background-color: #F5F5F5;
  border-bottom: 1px solid #EEE;
}





.center-bloque .widget2 {

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  flex-direction: column;
  padding: 10px;

  & h4{
    margin-bottom: 10px;
    
  }

  & strong{
    margin-bottom: 10px;
  }
}

/*Contacto*/
.postcontent { width: 690px; }
.postcontent.bothsidebar { width: 440px; }
.nobottommargin { 
  margin-bottom: 0 !important; 
  margin-left: 25%;
}

.entry {
	position: relative;
	margin: 0 0 50px;
	padding: 0 50px 50px;
	/*border-bottom: 2px solid #F5F5F5;*/
}
.entry-meta li {
	float: left;
	font-size: 18px;
	line-height: 14px;
	margin: 0 10px 15px 0;
	color: #999;
	font-family: 'Crete Round', serif;
	font-style: italic;
}

.entry-meta li:before {
	content: '/';
	display: inline-block;
	margin-right: 10px;
	opacity: 0.5
}

.entry-meta li i {
	position: relative;
	top: 1px;
	font-size: 14px;
	margin-right: 3px;
}

.entry-meta li a { color: #999; }

.entry-meta li a:hover { color: #66ccff; }

.entry-meta li:first-child:before { display: none; }

.entry-meta li ins {
	font-weight: 600;
	text-decoration: none;
}
.icon-mail:before {
	content: "\e6ab";
}


 